.main {
    display: flex;
    justify-content: space-between;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    border: 2px solid #000000;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 20vw;
    margin-top: 5px;
    animation: show  1s 1 ease-in-out,
    hide 1s 1 ease-in-out 4s;
}

.error-notification {
    background-color: red;
}

.warning-notification {
    background-color: orange;
}

.success-notification {
    background-color: green;
}

.info-notification {
    background-color: cornflowerblue;
}

.pop-up-button {
    height: 50px;
    width: 100%;
    color: #ffffff;
    background-color: #ff6347;
    font-size: 1.5rem;
}

.fa-times {
    font-size: 1.5rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s;
}

.show-modal {
    visibility: visible;
    transition: opacity linear 1s;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s 0s;
}

body {
    width: 100%;
    height: 100%;
}

.box {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(180, 142, 142);
    opacity: 0;
}

.box-show {
    visibility: visible;
    transition: opacity linear 1s;
    opacity: 1;
}

.modal-content {
    background-color: white;
    border-radius: 0.5rem;
}

.js-logo {
    opacity: 0;
    animation: spinner 2s infinite ease-in-out;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes spinner {
    from {opacity: 0;}
    50% {opacity: 1}
    to {opacity: 0;}
}